body {
	margin: 0;
	padding: 0;
	background-color: grey;
}

.red {
	position: absolute;
	top: 400px;
	left: 50px;
	width: 100px;
	height: 100px;
	background-color: red;
	z-index: 1;
}

.blue {
	position: absolute;
	top: 450px;
	left: 100px;
	width: 100px;
	height: 100px;
	background-color: blue;
	z-index: 2;
}

.yellow {
	position: absolute;
	top: 500px;
	left: 150px;
	width: 100px;
	height: 100px;
	background-color: yellow;
	z-index: 3;
}

.red1 {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 100px;
	height: 100px;
	background-color: red;
}

.blue1 {
	position: absolute;
	top: 150px;
	left: 150px;
	width: 100px;
	height: 100px;
	background-color: blue;
}

.yellow1 {
	position: absolute;
	top: 250px;
	left: 250px;
	width: 100px;
	height: 100px;
	background-color: yellow;
	z-index: 3;
}

.house {
	width: 150px;
	height: 150px;
	background: coral;
	position: absolute;
	top: 821px;
	left: 81px;
}

.roof {
	width: 0;
	height: 0;
	border-left: 110px solid transparent;
	border-right: 110px solid transparent;
	border-bottom: 100px solid red;
	position: absolute;
	top: 721px;
	left: 48px;
	z-index: 2;
}

.chimney {
	width: 20px;
	height: 60px;
	background: black;
	position: absolute;
	top: 741px;
	left: 200px;
}

.door {
	width: 60px;
	height: 90px;
	background: brown;
	position: absolute;
	top: 881px;
	left: 114px;
	z-index: 2;
}

.window {
	width: 40px;
	height: 40px;
	background: cyan;
	position: absolute;
	top: 878px;
	left: 182px;
	z-index: 2;
}

